* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: grey;
}
  
.phone {
    width: 380px; /* Account for border */
    height: 820px; /* Account for border */
    background: rgba(255,255,255,1);
    background-color: rgb(235, 235, 235);
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 43px;
    border: 10px solid black; /* Black border */
    overflow: hidden;
}

.navigation-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 68px; /* Aumente a altura conforme necessário */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.nav-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.navigation-bar .nav-icon{
    width: 55px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-icon.home{
    background-image: url("../images/home.png");
}

.nav-icon.events{
    background-image: url("../images/events.png");
}

.nav-icon.rankings{
    background-image: url("../images/rankings.png");
}

.nav-icon.messages{
    background-image: url("../images/messages.png");
}

.nav-icon.profile{
    background-image: url("../images/profile.png");
}

.nav-option {
    text-align: center;
    text-decoration: none;
    color: #888;
}

.nav-icon.active {
    background-color: lightgrey;
    border-radius: 8px;
}

 /* impedir de selecionar texto */
.loginBox, .registerBox, .backArrow, .loginButton, .createAccBoxReg, .logoutProfile, .desempenhoBox{
    cursor: pointer;
    user-select: none;
}

.loginBox, .registerBox {
    width: 300px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.loginBox {
    background: rgb(31, 187, 96);
    top: 382px;
}

.registerBox {
    background: rgb(47, 139, 201);
    top: 444px;
}

  
.welcome {
    width: 270px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 238px;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
    font-family: Inter;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: center;
}
  
.textIndex {
    width: 323px;
    color: rgba(81,81,81,1);
    position: absolute;
    top: 334px;
    left: 19px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: center;
}
  
.barraPreta {
    width: 360px;
    height: 31px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: relative;
    top: -1px;
    left: 0px;
    overflow: hidden;
}
  
.time {
    width: 46px;
    color: #cacaca;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-weight: SemiBold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}
  
.battery, .network, .sound {
    width: 24px;
    height: 18px;
    background: black;
    opacity: 1;
    position: absolute;
    top: 6px;
    overflow: hidden;
}
  
.battery {
    top: 4px; 
    left: 310px;
}
    
.network {
    left: 286px;
}
    
.sound {
    left: 264px;
}  
  
.battery-icon {
    font-size: 22px;
    color: #cacaca;
}
  
.network-icon, .sound-icon {
    color:#cacaca;
}

/* login */
.log2AccBox {
    width: 360px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 4px 16px;
    opacity: 1;
    position: absolute;
    top: 123px;
    left: 0px;
    overflow: hidden;
}

.log2AccText {
    width: 169px;
    color: rgba(12,20,28,1);
    position: relative;
    top: 0px;
    left: 5px;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.emailBox {
    width: 308px;
    height: 40px;
    top: 187px;
    left: 25px;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}

.passwordBox {
    width: 308px;
    height: 40px;
    top: 260px;
    left: 25px;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}

.emailTextLogin, .passwordTextLogin, .emailTextReg, .passwordTextReg, .nameTextReg{
    width: 100%; 
    height: 36px; 
    border: 1px solid black; 
    outline: none;
    padding: 5px; 
    font-size: 16px; 
    font-family: Inter; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

.loginButton {
    width: 300px;
    height: 36px;
    background: rgb(31, 187, 96);
    color: white;
    opacity: 1;
    position: absolute;
    top: 550px;
    left: 32px;
    border: 2px solid white; /* Define a largura, estilo e cor da borda */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px; /* Adiciona bordas arredondadas, se necessário */
}

.forgotPwd {
    width: 96px;
    color: rgba(79,114,150,1);
    position: absolute;
    top: 300px;
    left: 25px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.arrowBox1 {
    width: 368px;
    height: 72px;
    padding: 16px 0px;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 0px;
    overflow: hidden;
}
    
.arrowBox2 {
    width: 358px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 0px;
    overflow: hidden;
}
    
.backArrow {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 15%;
    left: 2.5%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
      
.backArrow i {
    font-size: 20px;
}      

.new_qm {
    width: 282px;
    color: rgba(81,81,81,1);
    position: absolute;
    top: 509px;
    left: 42px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
}

.contAppleBox, .contGoogleBox, .contFacebookBox, .contAppleBoxReg, .contGoogleBoxReg, .contFacebookBoxReg {
    width: 304px;
    height: 31px;
    opacity: 1;
    background: rgb(189, 189, 189);
    position: absolute;
    left: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contAppleBox {
    top: 367px;
}

.contGoogleBox {
    top: 408px;
}

.contFacebookBox {
    top: 449px;
}

.contServiceText {
    width: fit-content;
    color: rgba(12,20,28,1);
    font-family: Inter;
    font-weight: 600; /* Utilize um valor numérico para semi-bold */
    font-size: 12px;
    opacity: 1;
    text-align: center; /* Altere para center para centralizar o texto */
}


/* register */
.createAccTextBox {
    width: 380px;
    height: 59px;
    padding: 20px 16px;
    opacity: 1;
    position: absolute;
    top: 110px;
    left: 1px;
    overflow: hidden;
}

.emailBoxReg {
    width: 308px;
    height: 40px;
    top: 250px;
    left: 25px;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}

.passwordBoxReg {
    width: 308px;
    height: 40px;
    top: 317px;
    left: 25px;
    opacity: 1;
    position: absolute;
    overflow: hidden;
}

.createAccBoxReg {
    width: 300px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    top: 384px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(26,128,230,1);
    color: white;
}

.textReg {
    width: 330px;
    height: 26px;
    opacity: 1;
    position: absolute;
    top: 435px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contAppleBoxReg {
    top: 517px;
}

.contGoogleBoxReg {
    top: 558px;
}

.contFacebookBoxReg {
    top: 599px;
}

.termsUseText {
    width: 300px;
    height: fit-content;
    opacity: 1;
    position: absolute;
    top: 650px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    color: rgba(143,143,143,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.or {
    width: 176px;
    height: 21px;
    opacity: 1;
    position: absolute;
    top: 475px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    color: rgba(143,143,143,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileBanner {
    width: 338px;
    height: 48px;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 11px;
    overflow: hidden;
}

.profileText {
    width: 57px;
    color: rgba(12,20,28,1);
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Lexend;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.cog {
    width: fit-content;
    height: fit-content;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 93%;
    transform: translateX(-50%);
}

.usernameProfile {
    width: 110px;
    height: 20px;
    background: url("../images/v6_134.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 245px;
    left: 20px;
    overflow: hidden;
}

.logoutProfile {
    width: 120px;
    height: 40px;
    background: rgba(219, 26, 26, 1);
    opacity: 1;
    position: absolute;
    top: 265px;
    left: 70%; 
    transform: translateX(-50%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logoutText {
    color: rgba(255, 255, 255, 1);
    font-family: Inter, sans-serif;
    font-weight: 600;   /* bold */
    font-size: 14px;
    text-align: center;
}

.profilePic {
    width: 110px;
    height: 111px;
    background: url("../images/brunoPfp.png");
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 122px;
    left: 17px;
    border-radius: 50%;
}
.profileText1 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 101px;
    left: 155px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
.profileText2 {
    width: 25px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 101px;
    left: 246px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.icon-desempenho {
    font-size: 24px; /* Ajuste o tamanho conforme necessário */
    color: #000; /* Cor do ícone, ajuste conforme necessário */
    position: flexible;
}

.desempenhoDiv {
    width: 201px;
    height: 40px;
    opacity: 1;
    position: absolute;
    top: 193px;
    left: 143px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Change to flex-start to align items to the left */
}

.desempenhoBox {
    width: 40px;
    height: 40px;
    background: rgb(214, 214, 214);
    opacity: 1;
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    border-radius: 8px;
    margin-right: 8px; /* Add some space between the icon and the text */
}

.desempenhoText {
    width: 160px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 50px;
    overflow: hidden;
    font-size: 14px;
}

.bookmarkProfile {
    width: 30px;
    height: 30px;
    background: url("../images/v28_1844.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 339px;
    left: 265px;
    overflow: hidden;
}
.photosIconProfile {
    width: 30px;
    height: 30px;
    background: url("../images/v28_1843.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 339px;
    left: 65px;
    overflow: hidden;
}
.mentionsProfile {
    width: 30px;
    height: 30px;
    background: url("../images/v28_1842.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 339px;
    left: 165px;
    overflow: hidden;
}

.image1Profile, .image2Profile, .image3Profile, .image4Profile {
    width: 180px;
    height: 180px;
    background-size: cover;
    opacity: 1;
    position: absolute;
    border: 1px solid rgba(0,0,0,1);
    overflow: hidden;
}

.image1Profile {
    background: url("../images/v35_1845.png");
    background-position: center center;
    background-size: cover;
    top: 372px;
    left: 0px;
}

.image2Profile {
    background: url("../images/v35_1849.png");
    background-position: center center;
    background-size: cover;
    top: 372px;
    left: 180px;
}

.image3Profile {
    background: url("../images/v35_1851.png");
    background-position: center center;
    background-size: cover;
    top: 552px;
    left: 0px;
}

.image4Profile {
    background: url("../images/v35_1850.png");
    background-position: center center;
    background-size: cover;
    top: 552px;
    left: 180px;
}

.biografia {
    width: 106px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 270px;
    left: 20px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}





/* Parte adicionada home.html comeca aqui */
.performanceDiv {
    display: flex;
    background-color: red;
    height: 120px;
    border-width: 50px; /* Largura da borda */
}

.performanceBox {
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    width: 83%;
    height: 90%;
    background-color: lightgray;
    border-radius: 20px;
    padding: 10px;
    position: relative;

}

.performance-item{
    text-align: center;
    font-size: 18px;
}

.performance-icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.performance-icon.exercising{
    background-image: url("../images/v47_209.png");
    opacity: 1;
    position: absolute;
    /* top: 30px; */
    top: 50%;
    transform: translateY(-80%);
    left: 25px;
}

.performance-icon.exercising2 {
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 14px;
}

.performance-icon.walking {
    background-image: url("../images/v47_210.png");
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 75px;
}

.performance-icon.calories {
    background-image: url("../images/v47_211.png");
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    left: 135px;
}

.performance-icon.chart {
    width: 50px;
    height: 50px;
    background-image: url("../images/v35_2967.png");
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-90%);
    left: 210px;
}

.performance-summary {
    text-align: center;
}

.performance-summary span {
    display: block;
    margin-top: 35px;
    color: #007bff;
}

.post-image{
    width: 100%;
    height: 300px;
    background-image: url("../images/joana_foto.png");
    background-size : cover;
    margin-top: 20px;
}

.profile-image{
    width: 40px;
    height: 40px;
    background-image: url("../images/joana_perfil.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 125px;
    left: 8px;
}

.post-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.profile-name{
    margin-left: 50px; 
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;

}

.profile-post{
    margin-left: 5px;
    font-weight: bold;
   
   
}

.post-time{
    position: relative;
    bottom: 15px;
    left: 5px;
    color: #2b2929
    
}

.post-text{
    padding: 0 10px 10px 10x;
    margin-top: 10px;
    line-height: 1.5;
    font-size: 16px;
}

.post-actions{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.button.like{
    background-image: url("../images/v35_2685.png");
    margin-right: 10px;
    width: 40px;
    height: 40px;
    
}

.button.comment{
    background-image: url("../images/v35_2686.png");
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.button.share{
    background-image: url("../images/v35_2688.png");
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.button.save{
    background-image: url("../images/v35_2689.png");
    margin-left: auto;
    width: 40px;
    height: 40px;
}

.notification-button,
.add-post-button {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position:absolute;
}

.notification-button {
    background-image: url("../images/v35_2701.png"); 
    top: 40px;
    right: 10px;
}

.add-post-button {
    background-image: url("../images/v35_2705.png"); 
    top: 80px;
    right: 10px;
}

.button {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
} 

.profile-info{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.profile-info::before{
    content: "";
    width: 50px;
    height: 50px;
    background-image: url("../images/v35_2692.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info span{
    font-weight: bold;
    font-size: 18px;
}

.profile-options{
    position: relative;
    top: 10px;
    right: -180px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../images/v35_2694.png") no-repeat center center;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}



/* desempenho comeca aqui */
.months{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 30px;
}

.month{
    margin-right: 30px;
    cursor: pointer;
}

.selected{
    text-decoration: underline;
}

.underline{
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.bottom-section {
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translate(-50%);
    background-color: lightgray;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 150%;
}

.bottom-content {
    display: flex;
    flex-direction: column;
}

.column{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.column span:first-child {
    font-weight: bold;
}

.text {
    margin-left: 10px;
}

.text span{
    display: block;
}

.image1,
.image2,
.image3 {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
}

.image1 {
    content: url("../images/v47_209.png");
}

.image2 {
    content: url("../images/v47_210.png"); 
}

.image3 {
    content: url("../images/v47_211.png");
    
}

.button-container {
    margin-top: 20px;
    margin-bottom: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#config-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c81af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#config-button:hover {
    background-color: #484d57;
}

.chart-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin-top: 20px;
}

.chart{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    height: 180px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}

.chart-bar{
    width: 20%;
    margin: 0 5px;
    background-color: gray;
    border-radius: 5px 5px 0 0 ;
}

.chart-labels{
    display: flex;
    justify-content: space-between;
    width: 80px;
    margin: 10px;
}

.chart-labels span{
    text-align: center;
    width: 10%;
}

.days{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 10px;
}

.day{
    font-size: 14px;
    text-align: center;
    width: 20px;
}

.custom-button {
    background-color: blue; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    margin-top: 50px; 
    cursor: pointer; 
}
.custom-button:hover {
    background-color: darkorange;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    background-color: gray;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: black;
}



/* wearable comeca aqui */
.configurar-wearable {
    font-weight: bold;
    font-size : 30px;
    margin-bottom: 120px;
    text-align: center;
    position: relative;
    top: 10px;
}

.selecionar-wearable {
   
    font-size: 15px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    top: 100px;
    left: 28%;
    transform: translate(-50%, -50%);
}

.button{
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: none;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer; 
    transition: background-color 0.3s;
    padding-left: 10px;
}

.button-container {
    position: relative;
    margin-top: 150px; 
}

.button:hover {
    background-color: #aaa;
}

.button span {
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 120%;
}

.button img{
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.button1{
    background-image: url("../images/v47_297.png");
}

.button2{
    background-image: url("../images/v47_300.png");
}

.button3{
    background-image: url("../images/v47_302.png");
}

.sync-button{
    margin-top: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: lightblue;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sync-button:hover{
    background-color: #aaa;
}

.footer {
    position: fixed; 
    bottom: 50px; 
    width: 100%; 
    padding: 10px 0; 
    text-align: center; 
}

.refresh-icon {
    width: 30px; 
    height: 30px; 
    cursor: pointer; 
    margin-left: 310px;
    margin-top: 40px;
    background-image: url("../images/v47_290.png");
    background-size: cover;
}

.button-container img{
    display: none;
}

.back-arrow {
    position: fixed; 
    top: 90px; 
    left: 20px;
    z-index: 9999; 
    width: 50px; 
    height: 50px; 
    background-image: url("../images/seta.png"); 
    background-size: cover;
}




/* rankings.html */
.leaderboard-container{
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 10px;
}

.tabs{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.tab{
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.tab.active{
    background-color: #a0a0a0;
}

.leaderboard{
    text-align: center;
}

.top-3{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 70px;
}

.user{
    margin: 0 5px;
    text-align: center;
    position: relative;
}

.user-image{
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.user.second .user-image{
    width: 70px;
    height: 70px;
    background-image: url("../images/v28_1706.png");
}

.user.first .user-image{
    width: 50px;
    height: 50px;
    background-image: url("../images/v28_1709.png");
}

.user.third .user-image{
    width: 50px;
    height: 50px;
    background-image: url("../images/v28_1713.png");
}

.crown{
    background: url("../images/v28_1716.png") no-repeat center center;
    background-size: contain;
    height: 20px;
    width: 16px;
    position: absolute;
    top: -10px;
    left: calc(50% - 8px);
}

.name{
    font-weight: bold;
    font-size: 16px;
}

.score{
    color:orange;
    font-size: 16px;
}

.username{
    color:grey;
    font-size: 14px;
}

.ranking-list{
    padding: 0;
}

.ranking-list .user{
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 10px;
    background-color: lightgray;
    border-radius: 20px;
}

.ranking-list .user .user-image{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.ranking-list .user.clifford .user-image{
    background-image: url("../images/v28_1714.png");
}

.ranking-list .user.tara .user-image{
    background-image: url("../images/v28_1750.png");
}

.ranking-list .user.pascal .user-image{
    background-image: url("../images/v28_1715.png");
}

.ranking-list .user.bruno .user-image{
    background-image: url("../images/v28_1834.png");
}

.ranking-list .info{
    flex: 1;
    text-align: left;
}

.ranking-list .name, .ranking-list .username, .ranking-list .score {
    font-size: 12px;
}

.ranking-list .score{
    font-weight: bold;
}

.user.second {
    order: 1;
}

.user.first {
    order: 0;
}

.user.third {
    order: 2;
}



/* messages.html */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-pics {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.profile-pic {
    width: 65px;
    height: 80px;
    border-radius: 50%;
    margin: 0 5px;
    background-size: cover;
    background-position: center;
}

#profile1 {
    background-image: url("../images/v28_1718.png");
}

#profile2 {
    background-image: url("../images/v28_1719.png");
}

#profile3 {
    background-image: url("../images/v28_1720.png");
}

#profile4 {
    background-image: url("../images/v28_1721.png");
}

#profile5 {
    background-image: url("../images/v28_1722.png");
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.message .profile-pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

#ronaldo {
    background-image: url("../images/v28_1723.png");
}

#chefs {
    background-image: url("../images/pic.png");
}

#joao{
    background-image: url("../images/joao.png");
}

#patricia{
    background-image: url("../images/patricia.png");
}

#miguel{
    background-image: url("../images/miguel.png");
}

#angela{
    background-image: url("../images/v28_1724.png");
}

.message-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.message h4 {
    margin: 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.message p {
    margin: 5px 0 0;
    color: #666;
}

.timeMessages {
    font-size: 12px;
    color: green;
    margin-top: 225px;
}

.unread {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
    margin-left: 10px;
}



/* events.html */
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
}

.header input{
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.timeEvents{
    margin-left: 10px;
    font-size: 14px;
}

.icons{
    display: flex;
    gap: 5px;
}

.wifi-icon, .battery-icon{
    width: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
}

.main{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.interest, .featured{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 10px;
}

.event-card{
    position: relative;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #fff;
}

.event-card h3{
    margin-bottom: 5px;
}



.judo{
    background: url("../images/judo.png") no-repeat center center / cover;
    width: 400px;
    height: 200px;
}

.futsal{
    background: url("../images/futsal.png") no-repeat center center / cover;    
    width: 400px;
    height: 200px;
}

.swimming{
    background: url("../images/natacao.png") no-repeat center center / cover;
    width: 400px;
    height: 200px;
}

.marathon {
    background: url("../images/maratona.PNG") no-repeat center center / cover;
    width: 400px;
    height: 200px;
}
